body{
  background-color: #313336;
}

.bg {
  text-align: center;
  background-color: #313336;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.red-text{
  color: red !important;
  font-weight: 700 !important;
  border: rgb(194, 194, 194) solid 2px !important;
}

.red-text:hover{
  color: rgb(182, 10, 10) !important;
  font-weight: 700 !important;
}

.offset-left{
  margin-left: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: float infinite 1s ease-in-out alternate;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes float {
  from {
    transform:translate();
  }
  to {
    transform: translate(0px, 20px);
  }
}
